* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

/* MOBILE STYLES */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1rem 0 1rem;
}

.nav-items {
	list-style: none;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	margin: 2rem 1rem 2rem 1rem;
	min-height: 100vh;
	justify-content: center;
	grid-template-areas:
		"hero hero hero hero"
		"img1 img1 img2 img2";
	gap: 10px;
}
.grid-wrapper > div {
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(205, 43, 226);
}

.hero {
	grid-area: hero;
}

.img1 {
	grid-area: img1;
}
.img2 {
	grid-area: img2;
}

footer {
	display: flex;
	flex-direction: column;
	margin: 0 1rem 0 1rem;
}
