.analogue-gallery h1 {
	text-align: center;
	margin: 2rem auto;
}

.analogue-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 0.4rem;
	margin: 0 0.5rem 2rem 0.5rem;
}

.analogue-grid > div,
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
}

@media screen and (min-width: 600px) {
	.analogue-grid {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		gap: 1rem;
	}

	.film-img1 {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
	.film-img2 {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}
	.film-img3 {
		grid-column: 7 / 10;
		grid-row: 1 / 2;
	}
	.film-img4 {
		grid-column: 10 / 13;
		grid-row: 1 / 2;
	}
	.film-img5 {
		grid-column: 1 / 5;
		grid-row: 2 / 3;
	}
	.film-img6 {
		grid-column: 5 / 9;
		grid-row: 2 / 3;
	}
	.film-img7 {
		grid-column: 9 / 13;
		grid-row: 2 / 3;
	}
	.film-img8 {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}
	.film-img9 {
		grid-column: 4 / 7;
		grid-row: 3 / 4;
	}
	.film-img10 {
		grid-column: 7 / 10;
		grid-row: 3 / 4;
	}
	.film-img11 {
		grid-column: 10 / 13;
		grid-row: 3 / 4;
	}
	.film-img12 {
		grid-column: 1 / 6;
		grid-row: 4 / 5;
	}
	.film-img13 {
		grid-column: 6 / 9;
		grid-row: 4 / 5;
	}
	.film-img14 {
		grid-column: 9 / 13;
		grid-row: 4 / 5;
	}
	.film-img15 {
		grid-column: 1 / 4;
		grid-row: 5 / 6;
	}
	.film-img16 {
		grid-column: 4 / 7;
		grid-row: 5 / 6;
	}
	.film-img17 {
		grid-column: 7 / 10;
		grid-row: 5 / 6;
	}
	.film-img18 {
		grid-column: 10 / 13;
		grid-row: 5 / 6;
	}
}

/*  */ /*  */ /*  */ /*  */ /*  */
/* DESKTOPS & LARGE SCREENS */
/*  */ /*  */ /*  */ /*  */ /*  */

@media screen and (min-width: 1200px) {
	.analogue-grid {
		margin: 3rem;
	}
}
