.hidden {
	display: none;
}

.show {
	display: block;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.97);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}

.popup.show {
	opacity: 1;
	visibility: visible;
}

.popup-content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	box-shadow: 0 0 20px rgba(204, 6, 245, 0.18);
}

.popup-content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.popup-buttons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.popup-buttons button {
	background-color: rgba(250, 249, 250, 0.04);
	border: none;
	color: #fff;
	border-radius: 4%;
	height: 3.125rem;
	width: 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 0px;
	cursor: pointer;
}

.popup-buttons > button:hover {
	background-color: rgba(255, 255, 255, 0.215);
	color: #fff;
	cursor: pointer;
}

.control-btns {
	display: flex;
	justify-content: space-between;
	pointer-events: auto;
	z-index: 9999;
	position: relative;
	padding: 1rem;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.landscape {
	padding: 0;
	height: 0;
	width: 0;
}

.expand {
	text-align: left;
	padding: 1rem;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}
