.gallery h1 {
	text-align: center;
	margin: 2rem auto;
	font-size: 2.5rem;
}

.gallery ul {
	text-align: center;
}

.gallery ul > li {
	margin: 5.5rem auto;
	font-size: 1.5rem;
}

/*  */ /*  */ /*  */ /*  */ /*  */
/* DESKTOPS & LARGE SCREENS */
/*  */ /*  */ /*  */ /*  */ /*  */

@media screen and (min-width: 1200px) {
	.gallery {
		margin-bottom: 5rem;
	}
	.gallery h1 {
		text-align: center;
		margin: 2rem auto;
		font-size: 2.5rem;
	}

	.gallery ul > li {
		margin: 4rem auto;
		padding: 0.2rem;
		font-size: 1.7rem;
		width: 15%;
		list-style: none;
	}

	.gallery ul > li:hover {
		cursor: pointer;
		background: rgba(108, 1, 85, 0.135);
		transition: all 0.2s ease-in-out;
		border-radius: 5px;
	}
}
